body{
    background-color: darkgrey;
}

.container{
    width:600px;
    height:600px;
    border:5px solid white;
    position: relative;
    top:15px;
    left:380px;
    background-color: rgb(230, 238, 255);

}

.eror{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color:maroon;
    position: absolute;
    top:80px;
    left:100px;
}

.kode {
    font-size: 300px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 80, 80);
    position:absolute;
    top:25px;
    left:45px;

}  
