body{
    background-color: darkgrey;
}

.container{
    width:600px;
    height:600px;
    border:5px solid white;
    position: relative;
    top:15px;
    left:380px;
    background-color: rgb(230, 238, 255);
    
}